<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>

<listener class-name="extentdemo.Listener"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="extent.Test1"/>
      <class name="extent.Test2"/>
      <class name="extent.Test3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
